body {
background: #bebebe;
text-align:center;
}
header {
	font-size: 50pt;
	font-weight: bold;
}
h1 {
text-align: center;
font-family:"Times New Romans";
font: 100pt;
color: #ff3819;
}
hr {
height: 2px;
color: #ff3819;
}
p {
font-family:"Calibri";
font-size: 12pt;
text-align: center;
text-indent: 48pt;
color: #2f2d2d;
}
.form {
	width: 500px;
	text-align: center;
	margin: auto;
}
.Top {
height: 100px;
}
label {
	font-size: 20pt;
}
p {
	font-size: 15pt;
}